name: CI/CD Airflow DAGs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install outils de qualité
        run: pip install uv

      - name: Analyse statique (ruff)
        run: uvx ruff check src/ --output-format=github

      - name: Vérification typage (ty)
        run: uvx ty check src/

      - name: Analyse sécurité (bandit)
        run: uvx bandit -r src/

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Publish DAGs to SFTP
        uses: atmoz/sftp@v1
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: ${{ secrets.SFTP_PORT }}
          localPath: src/
          remotePath: ${{ secrets.SFTP_DAGS_PATH }}
        env:
          SFTP_HOST: ${{ secrets.SFTP_HOST }}
          SFTP_USERNAME: ${{ secrets.SFTP_USERNAME }}
          SFTP_PASSWORD: ${{ secrets.SFTP_PASSWORD }}
          SFTP_PORT: ${{ secrets.SFTP_PORT }}
          SFTP_DAGS_PATH: ${{ secrets.SFTP_DAGS_PATH }}
