name: Airflow DAG CI/CD Component

on:
  push:
    branches: [ main, production ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main, production ]

jobs:
  set-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.setenv.outputs.environment }}
    steps:
      - name: Compute environment type
        id: setenv
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == refs/heads/dev ]]; then
            ENV_TYPE="dev"
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == refs/heads/staging ]]; then
            ENV_TYPE="staging"
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == refs/heads/production ]]; then
            ENV_TYPE="production"
          else
            exit 1
          fi
          echo "env_type=$ENV_TYPE" >> $GITHUB_OUTPUT
          echo "Computed environment type: $ENV_TYPE"

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Export and Install project dependencies
        run: |
          /root/.local/bin/uv sync --frozen

      - name: Lint with ruff
        run: /root/.local/bin/uv run --with ruff ruff check src
        continue-on-error: true

      - name: Type check with ty
        run: /root/.local/bin/uv run --with ty ty check src
        continue-on-error: true

      - name: Security check with bandit
        run: /root/.local/bin/uv run --with bandit bandit -r src
        continue-on-error: true

      # - name: Run TruffleHog
      #   uses: trufflesecurity/trufflehog@main
      #   with:
      #     extra_args: --results=verified,unknown
