name: Airflow DAG CI/CD Component

on:
  workflow_call:
    inputs:
      SFTP_HOST:
        required: true
        type: string
      SFTP_USERNAME:
        required: true
        type: string
      SFTP_PORT:
        required: true
        type: string
      SFTP_DAGS_PATH:
        required: true
        type: string
    secrets:
      SFTP_PASSWORD:
        required: true
        type: string

jobs:
  set-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.setenv.outputs.environment }}
    steps:
      - id: setenv
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" && "${{ github.base_ref }}" == "main" ]]; then
            echo "environment=dev" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "pull_request" && "${{ github.base_ref }}" == "production" && "${{ github.head_ref }}" == "main" ]]; then
            echo "environment=staging" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == refs/tags/* && "${{ github.ref_protected }}" == 'true' && "${{ github.ref_name }}" == "production" ]]; then
            echo "environment=production" >> $GITHUB_OUTPUT
          else
            echo "environment=undefined" >> $GITHUB_OUTPUT
          fi

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: pip install uv
      - name: Lint (ruff)
        run: |
          uvx ruff check src/ --output-format=github

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: pip install uv
      - name: Typing (mypy)
        run: |
          uvx mypy src/

  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: pip install uv
      - name: Security (bandit)
        run: |
          uvx bandit -r src/

  ty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: pip install uv
      - name: pyproject.toml check (ty)
        run: |
          uvx ty check src/

  publish:
    needs: [ruff, mypy, bandit, ty]
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ needs.ruff.outputs.ENVIRONMENT || needs.set-environment.outputs.environment }}
      SFTP_HOST: ${{ inputs.SFTP_HOST }}
      SFTP_USERNAME: ${{ inputs.SFTP_USERNAME }}
      SFTP_PASSWORD: ${{ inputs.SFTP_PASSWORD }}
      SFTP_PORT: ${{ inputs.SFTP_PORT }}
      SFTP_DAGS_PATH: ${{ inputs.SFTP_DAGS_PATH }}
    steps:
      - uses: actions/checkout@v4
      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp
      - name: Publish DAGs to SFTP
        run: |
          lftp -u "$SFTP_USERNAME","$SFTP_PASSWORD" -e "mirror -R src $SFTP_DAGS_PATH/$ENVIRONMENT; bye" -p $SFTP_PORT $SFTP_HOST
